.more-screen .icon-row {
  margin-top: 35px;
}
.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}
.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}
.more-suggestion__icon {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.more-suggestions__icon-image i {
  font-size: 30px;
  color: white;
}
